<div class="main_container">
  <form [formGroup]="myReactiveForm">
    <!-- Form starts here -->

    <div class="form_container">
      <h3>Personal Information</h3>
      <table class="borderless_table">
        <tr>
          <td>
            <div class="input_box">
              <input
                formControlName="FirstName"
                type="text"
                id="username"
                required
              />

              <div
                class="validation_popup"
                *ngIf="
                  (!myReactiveForm.get('FirstName').valid &&
                    myReactiveForm.get('FirstName').touched) ||
                  (submitted && myReactiveForm.get('FirstName').invalid)
                "
              >
                Please enter valid first Name input
              </div>

              <label for="">
                First Name <span style="color: red">*</span>
              </label>
            </div>
          </td>
          <td>
            <div class="input_box">
              <input type="text" required formControlName="MiddleName" />
              <label for=""> Middle Name </label>
              <div
                class="validation_popup"
                *ngIf="submitted && myReactiveForm.get('MiddleName').invalid"
              >
                Please enter valid first Name input
              </div>
            </div>
          </td>

          <td>
            <div class="input_box">
              <input type="text" formControlName="LastName" required />
              <div
                class="validation_popup"
                *ngIf="
                  (!myReactiveForm.get('LastName').valid &&
                    myReactiveForm.get('LastName').touched) ||
                  (submitted && myReactiveForm.get('LastName').invalid)
                "
              >
                Please enter valid Last Name input
              </div>

              <label for="">
                Last Name <span style="color: red">*</span>
              </label>
            </div>
          </td>
        </tr>

        <tr>
          <td>
            <div class="input_box">
              <input
                formControlName="DOB"
                onfocus="(this.type='date')"
                type="text"
                required
              />
              <label for="" class="date-label">
                Date of Birth(Dob) <span style="color: red">*</span>
              </label>
              <div
                class="validation_popup"
                *ngIf="
                  (!myReactiveForm.get('DOB').valid &&
                    myReactiveForm.get('DOB').touched) ||
                  (submitted && myReactiveForm.get('DOB').invalid)
                "
              >
                Please enter valid DOB
              </div>
            </div>
          </td>
          <td>
            <div class="input_box">
              <input formControlName="PhoneNumber" required />
              <label for="">
                Phone Number <span style="color: red">*</span>
              </label>
              <div
                class="validation_popup"
                *ngIf="
                  (myReactiveForm.get('PhoneNumber').invalid &&
                    myReactiveForm.get('PhoneNumber').touched) ||
                  (submitted && myReactiveForm.get('PhoneNumber').invalid)
                "
              >
                Please enter a valid mobile number
              </div>
            </div>
          </td>
          <td>
            <div class="input_box">
              <select
                class="select"
                name=""
                id=""
                formControlName="MaritalStatus"
              >
                <option value="" disabled>Select Marital Status</option>
                <option
                  *ngFor="let status of maritalStatusList"
                  [ngValue]="status"
                  (change)="changeMaritalStatus($event)"
                >
                  {{ status }}
                </option>
              </select>
              <label for="" class="date-label">
                Marital Status <span style="color: red">*</span>
              </label>
              <div
                class="validation_popup"
                *ngIf="
                  (myReactiveForm.get('MaritalStatus').invalid &&
                    myReactiveForm.get('MaritalStatus').touched) ||
                  (submitted && myReactiveForm.get('MaritalStatus').invalid)
                "
              >
                Please enter a valid marital status
              </div>
            </div>
          </td>
        </tr>

        <tr>
          <td>
            <div class="input_box">
              <input formControlName="Email" required />
              <label for="">
                Email Address <span style="color: red">*</span>
              </label>
              <div
                class="validation_popup"
                *ngIf="
                  (myReactiveForm.get('Email')?.invalid &&
                    myReactiveForm.get('Email')?.touched) ||
                  (submitted && myReactiveForm.get('Email').invalid)
                "
              >
                Please enter a valid Email Address
              </div>
            </div>
          </td>
        </tr>
      </table>
    </div>

    <div class="form_container">
      <h3>Current ADDRESS</h3>
      <table class="borderless_table">
        <tr>
          <td style="width: 30%">
            <div class="input_box">
              <input formControlName="CAddress" type="text" required />
              <label for="">
                Address 1 <span style="color: red">*</span>
              </label>

              <div
                class="validation_popup"
                *ngIf="
                  (myReactiveForm.get('CAddress').invalid &&
                    myReactiveForm.get('CAddress').touched) ||
                  (submitted && myReactiveForm.get('CAddress').invalid)
                "
              >
                Please enter a valid Address
              </div>
            </div>
          </td>

          <td style="width: 30%">
            <div class="input_box">
              <input formControlName="CAddress1" type="text" required />
              <label for="">
                Address 2 <span style="color: red">*</span>
              </label>

              <div
                class="validation_popup"
                *ngIf="
                  (myReactiveForm.get('CAddress1').invalid &&
                    myReactiveForm.get('CAddress1').touched) ||
                  (submitted && myReactiveForm.get('CAddress1').invalid)
                "
              >
                Please enter a valid Address
              </div>
            </div>
          </td>

          <td style="width: 30%">
            <div class="input_box">
              <select
                [(ngModel)]="selectedState"
                class="select"
                name=""
                id=""
                formControlName="currentstate"
                (change)="getStates()"
              >
                <option value="" disabled>State</option>
                <option *ngFor="let state of stateList">
                  {{ state.name }}
                </option>
              </select>
              <div
                class="validation_popup"
                *ngIf="
                  (myReactiveForm.get('currentstate').invalid &&
                    myReactiveForm.get('currentstate').touched) ||
                  (submitted && myReactiveForm.get('currentstate').invalid)
                "
              >
                Please enter a valid State name
              </div>
            </div>
          </td>
        </tr>

        <tr>
          <td>
            <div class="input_box">
              <select
                class="select"
                name=""
                id=""
                formControlName="currentcity"
              >
                <option value="">City</option>
                <option *ngFor="let city of cityList" [ngValue]="city">
                  {{ city }}
                </option>
              </select>
              <div
                class="validation_popup"
                *ngIf="
                  (myReactiveForm.get('currentcity').invalid &&
                    myReactiveForm.get('currentcity').touched) ||
                  (submitted && myReactiveForm.get('currentcity').invalid)
                "
              >
                Please enter a valid City name
              </div>
            </div>
          </td>
          <td>
            <div class="input_box">
              <input formControlName="CPinCode" id="PinCode" required />
              <label for=""> Pincode <span style="color: red">*</span> </label>

              <div
                class="validation_popup"
                *ngIf="
                  (myReactiveForm.get('CPinCode')?.invalid &&
                    myReactiveForm.get('CPinCode')?.touched) ||
                  (submitted && myReactiveForm.get('CPinCode').invalid)
                "
              >
                Please enter a valid Pincode!
              </div>
            </div>
          </td>
        </tr>
      </table>
    </div>

    <div class="form_container">
      <h3>PERMANENT ADDRESS</h3>
      <table class="borderless_table">
        <tr>
          <td style="width: 30%">
            <div class="input_box">
              <input formControlName="PAddress" type="text" required />
              <label for="">
                Address 1 <span style="color: red">*</span>
              </label>
              <div
                class="validation_popup"
                *ngIf="
                  (myReactiveForm.get('PAddress').invalid &&
                    myReactiveForm.get('PAddress').touched) ||
                  (submitted && myReactiveForm.get('PAddress').invalid)
                "
              >
                Please enter a valid Address
              </div>
            </div>
          </td>

          <td style="width: 30%">
            <div class="input_box">
              <input formControlName="PAddress1" type="text" required />
              <label for="">
                Address 2 <span style="color: red">*</span>
              </label>

              <div
                class="validation_popup"
                *ngIf="
                  (myReactiveForm.get('PAddress1').invalid &&
                    myReactiveForm.get('PAddress1').touched) ||
                  (submitted && myReactiveForm.get('PAddress1').invalid)
                "
              >
                Please enter a valid Address
              </div>
            </div>
          </td>

          <td style="width: 30%">
            <div class="input_box">
              <select
                class="select"
                name=""
                id=""
                formControlName="permanentstate"
              >
                <option value="">State</option>
              </select>
              <div
                class="validation_popup"
                *ngIf="
                  (myReactiveForm.get('permanentstate').invalid &&
                    myReactiveForm.get('permanentstate').touched) ||
                  (submitted && myReactiveForm.get('permanentstate').invalid)
                "
              >
                Please enter a valid State name
              </div>
            </div>
          </td>
        </tr>

        <tr>
          <td>
            <div class="input_box">
              <select
                class="select"
                name=""
                id=""
                formControlName="permanentcity"
              >
                <option value="">City</option>
              </select>
              <div
                class="validation_popup"
                *ngIf="
                  (myReactiveForm.get('permanentcity').invalid &&
                    myReactiveForm.get('permanentcity').touched) ||
                  (submitted && myReactiveForm.get('permanentcity').invalid)
                "
              >
                Please enter a valid City name
              </div>
            </div>
          </td>
          <td>
            <div class="input_box">
              <input formControlName="PinCode" type="number" required />
              <label for=""> Pincode <span style="color: red">*</span> </label>

              <div
                class="validation_popup"
                *ngIf="
                  (myReactiveForm.get('PinCode').invalid &&
                    myReactiveForm.get('PinCode').touched) ||
                  (submitted && myReactiveForm.get('PinCode').invalid)
                "
              >
                Please enter a valid Pincode
              </div>
            </div>
          </td>
        </tr>
      </table>
    </div>

    <div class="form_container">
      <h3>EMERGENCY CONTACT DETAILS</h3>
      <p>
        <input type="checkbox" name="emergency_checkbox" /> Yes I am aware that
        the contact details provided above maybe released in any emergency
        situation to a member of the Human Resources team to act upon if it were
        necessary. For this reason it is important that any updates to this
        information are relate to the HR team the information may..
      </p>
      <table class="borderless_table">
        <tr>
          <td style="width: 30%">
            <div class="input_box">
              <input type="text" formControlName="emergencyName" required />
              <div
                class="validation_popup"
                *ngIf="
                  (myReactiveForm.get('emergencyName').touched &&
                    myReactiveForm.get('emergencyName').invalid) ||
                  (submitted && myReactiveForm.get('emergencyName').invalid)
                "
              >
                Please enter valid Emergency Contact Name
              </div>
              <label for="">
                Emergency Contact Name <span style="color: red">*</span>
              </label>
            </div>
          </td>

          <td style="width: 30%">
            <div class="input_box">
              <input type="text" formControlName="relation" required />
              <div
                class="validation_popup"
                *ngIf="
                  (myReactiveForm.get('relation').touched &&
                    myReactiveForm.get('relation').invalid) ||
                  (submitted && myReactiveForm.get('relation').invalid)
                "
              >
                Please enter valid relationship with employee
              </div>
              <label for="">
                Relationship with Employee <span style="color: red">*</span>
              </label>
            </div>
          </td>

          <td style="width: 30%">
            <div class="input_box">
              <input type="number" formControlName="emergencyphone1" required />
              <div
                class="validation_popup"
                *ngIf="
                  (myReactiveForm.get('emergencyphone1').touched &&
                    myReactiveForm.get('emergencyphone1').invalid) ||
                  (submitted && myReactiveForm.get('emergencyphone1').invalid)
                "
              >
                Please enter valid Phone number
              </div>

              <label for="">
                Phone Number 1<span style="color: red">*</span>
              </label>
            </div>
          </td>
        </tr>

        <tr>
          <td style="width: 30%">
            <div class="input_box">
              <input type="number" formControlName="emergencyphone2" required />
              <div
                class="validation_popup"
                *ngIf="
                  myReactiveForm.get('emergencyphone2').touched &&
                  myReactiveForm.get('emergencyphone2').invalid
                "
              >
                Please enter valid Phone number
              </div>

              <label for=""> Phone Number 2 </label>
            </div>
          </td>
          <td style="width: 30%">
            <div class="input_box">
              <input type="text" formControlName="address1" required />
              <div
                class="validation_popup"
                *ngIf="
                  (myReactiveForm.get('address1').touched &&
                    myReactiveForm.get('address1').invalid) ||
                  (submitted && myReactiveForm.get('address1').invalid)
                "
              >
                Please enter valid address
              </div>
              <label for="">
                Address 1 <span style="color: red">*</span>
              </label>
            </div>
          </td>
          <td style="width: 30%">
            <div class="input_box">
              <input type="text" formControlName="address2" required />
              <div
                class="validation_popup"
                *ngIf="
                  submitted ||
                  (myReactiveForm.get('address2').touched &&
                    myReactiveForm.get('address2').invalid) ||
                  (submitted && myReactiveForm.get('address2').touchedinvalid)
                "
              >
                Please enter valid address
              </div>
              <label for="">
                Address 2 <span style="color: red">*</span>
              </label>
            </div>
          </td>
        </tr>

        <tr>
          <td style="width: 30%">
            <div class="input_box">
              <select
                class="select"
                name=""
                id=""
                formControlName="emergencystate"
              >
                <option value="">State</option>
              </select>
              <div
                class="validation_popup"
                *ngIf="
                  (myReactiveForm.get('emergencystate').invalid &&
                    myReactiveForm.get('emergencystate').touched) ||
                  (submitted && myReactiveForm.get('emergencystate').invalid)
                "
              >
                emergencystate Please enter a valid State name
              </div>
            </div>
          </td>

          <td style="width: 30%">
            <div class="input_box">
              <select
                class="select"
                name=""
                id=""
                formControlName="emergencycity"
              >
                <option value="">City</option>
              </select>
              <div
                class="validation_popup"
                *ngIf="
                  (myReactiveForm.get('emergencycity').invalid &&
                    myReactiveForm.get('emergencycity').touched) ||
                  (submitted && myReactiveForm.get('emergencycity').invalid)
                "
              >
                Please enter a valid City name
              </div>
            </div>
          </td>

          <td style="width: 30%">
            <div class="input_box">
              <input type="number" formControlName="pin" required />
              <div
                class="validation_popup"
                *ngIf="
                  (myReactiveForm.get('pin').touched &&
                    myReactiveForm.get('pin').invalid) ||
                  (submitted && myReactiveForm.get('pin').invalid)
                "
              >
                Please enter valid PinCode
              </div>
              <label for=""> Pincode <span style="color: red">*</span> </label>
            </div>
          </td>
        </tr>
      </table>
    </div>

    <div class="form_container">
      <h3>Eligibility To Work</h3>
      <p>
        <input
          type="checkbox"
          name="have_a_passport_checkbox"
          required
          (click)="passportClick($event)"
        />
        Yes I have a Passport
      </p>
      <table class="borderless_table">
        <tr>
          <td style="width: 30%">
            <div class="input_box">
              <input
                [attr.disabled]="true"
                type="text "
                formControlName="country"
                class="form-control"
                required
              />
              <label for="country">
                Citizenship Country <span style="color: red">*</span>
              </label>
              <div
                class="validation_popup"
                *ngIf="
                  (myReactiveForm.get('country').invalid &&
                    myReactiveForm.get('country').touched) ||
                  (submitted && myReactiveForm.get('country').invalid)
                "
              >
                Country is Required
              </div>
              <!-- 
                     <input type="email" formControlName="email" class="form-control" required />
                     <label for=" email "> Email Address <span style="color: red">*</span> </label>
                     <small *ngIf="email.invalid && email.touched " class="text-danger ">Email is Required</small> -->
            </div>
          </td>

          <td style="width: 30%">
            <div class="input_box">
              <input
                [attr.disabled]="true"
                type="text "
                formControlName="passport"
                class="form-control"
                required
              />
              <label for=" passport">
                Passport Number<span style="color: red">*</span>
              </label>
              <div
                class="validation_popup"
                *ngIf="
                  (myReactiveForm.get('passport').invalid &&
                    myReactiveForm.get('passport').touched) ||
                  (submitted && myReactiveForm.get('passport').invalid)
                "
              >
                passport should be of correct type
              </div>
            </div>
          </td>

          <td style="width: 30%">
            <div class="input_box">
              <input
                [attr.disabled]="true"
                type="date"
                formControlName="issueddate"
                class="form-control"
                required
              />
              <label for="issued Date " class="date-label">
                Issued Date<span style="color: red">*</span>
              </label>
              <div
                class="validation_popup"
                *ngIf="
                  (myReactiveForm.get('issueddate').invalid &&
                    myReactiveForm.get('issueddate').touched) ||
                  (submitted && myReactiveForm.get('issueddate').invalid)
                "
              >
                fill issued date
              </div>

              <!-- <input type="date" formControlName="dob" required />
                     <label for="dob" class="date-label"> Date of Birth(Dob)* <span style="color: red">*</span> </label> -->
            </div>
          </td>
        </tr>

        <tr>
          <td>
            <div class="input_box">
              <input
                [attr.disabled]="true"
                type="date"
                formControlName="expirationdate"
                class="form-control"
                required
              />
              <label for="expirationdate " class="date-label">
                Expiration Date</label
              >
              <div
                class="validation_popup"
                *ngIf="
                  (myReactiveForm.get('expirationdate').invalid &&
                    myReactiveForm.get('expirationdate').touched) ||
                  (submitted && myReactiveForm.get('expirationdate').invalid)
                "
              >
                fill expiration date
              </div>
            </div>
          </td>
          <td>
            <div class="input_box">
              <input
                [attr.disabled]="true"
                type="text "
                formControlName="issuedby"
                class="form-control"
                required
              />
              <label for="issuedby">
                Issued By <span style="color: red">*</span>
              </label>
              <div
                class="validation_popup"
                *ngIf="
                  (myReactiveForm.get('issuedby').invalid &&
                    myReactiveForm.get('issuedby').touched) ||
                  (submitted && myReactiveForm.get('issuedby').invalid)
                "
              >
                passport is issued by
              </div>
            </div>
          </td>
        </tr>
      </table>
    </div>

    <div class="form_container">
      <h3>Pan and aadhaar details</h3>

      <table class="borderless_table">
        <tr>
          <td>
            <div class="input_box">
              <input
                type="text "
                formControlName="pan"
                class="form-control"
                required
              />
              <label for="pan">
                PAN Number <span style="color: red">*</span>
              </label>
              <div
                class="validation_popup"
                *ngIf="
                  (myReactiveForm.get('pan').invalid &&
                    myReactiveForm.get('pan').touched) ||
                  (submitted && myReactiveForm.get('pan').invalid)
                "
              >
                Pan is Required
              </div>
            </div>
          </td>
          <td>
            <div class="input_box">
              <input
                type="text "
                formControlName="panname"
                class="form-control"
                required
              />
              <label for="panname ">
                Name as on PAN Card<span style="color: red">*</span>
              </label>
              <div
                class="validation_popup"
                *ngIf="
                  (myReactiveForm.get('panname').invalid &&
                    myReactiveForm.get('panname').touched) ||
                  (submitted && myReactiveForm.get('panname').invalid)
                "
              >
                fill the name as in pan
              </div>
            </div>
          </td>

          <td>
            <div class="input_box">
              <input
                type="text"
                formControlName="aadhar"
                class="form-control"
                required
              />
              <label for="aadhar">
                Aadhar Number <span style="color: red">*</span>
              </label>
              <div
                class="validation_popup"
                *ngIf="
                  (myReactiveForm.get('aadhar').invalid &&
                    myReactiveForm.get('aadhar').touched) ||
                  (submitted && myReactiveForm.get('aadhar').invalid)
                "
              >
                aadhar is Required
              </div>
            </div>
          </td>
        </tr>

        <tr>
          <td>
            <div class="input_box">
              <input
                type="text"
                formControlName="aadharname"
                class="form-control"
                required
              />
              <label for="aadharname">
                Name on Aadhar Card<span style="color: red">*</span>
              </label>
              <div
                class="validation_popup"
                *ngIf="
                  (myReactiveForm.get('aadharname').invalid &&
                    myReactiveForm.get('aadharname').touched) ||
                  (submitted && myReactiveForm.get('aadharname').invalid)
                "
              >
                fill the name as in aadhar
              </div>
            </div>
          </td>
        </tr>
      </table>
    </div>

    <div class="form_container">
      <h3>Education Qualifications</h3>
      <table class="borderred_table" border="1">
        <tr>
          <th style="width: 15%">Qualification</th>
          <th align="left" style="width: 28%">Major</th>
          <th align="left" style="width: 28%">Institution</th>
          <th align="left" style="width: 10%">Year of Completion</th>
          <th align="left" style="width: 32%">State/Country</th>
        </tr>

        <tr>
          <td>
            <div class="input_box">
              <input type="text" formControlName="qualification" required />
              <div
                class="validation_popup"
                *ngIf="
                  (!myReactiveForm.get('qualification').valid &&
                    myReactiveForm.get('qualification').touched) ||
                  (submitted && myReactiveForm.get('qualification').invalid)
                "
              >
                Please enter valid data
              </div>
            </div>
          </td>
          <td>
            <div class="input_box">
              <input type="text" formControlName="major" required />
              <div
                class="validation_popup"
                *ngIf="
                  (!myReactiveForm.get('major').valid &&
                    myReactiveForm.get('major').touched) ||
                  (submitted && myReactiveForm.get('major').invalid)
                "
              >
                Please enter major details
              </div>
            </div>
          </td>

          <td>
            <div class="input_box">
              <input type="text" formControlName="institute" required />
              <div
                class="validation_popup"
                *ngIf="
                  (!myReactiveForm.get('institute').valid &&
                    myReactiveForm.get('institute').touched) ||
                  (submitted && myReactiveForm.get('institute').invalid)
                "
              >
                Please enter valid Institution name
              </div>
            </div>
          </td>
          <td>
            <div class="input_box">
              <input type="text" formControlName="year" required />
              <div
                class="validation_popup"
                *ngIf="
                  (!myReactiveForm.get('year').valid &&
                    myReactiveForm.get('year').touched) ||
                  (submitted && myReactiveForm.get('year').invalid)
                "
              >
                Please enter valid year
              </div>
            </div>
          </td>
          <td>
            <div class="input_box">
              <input
                type="text"
                formControlName="qualificationstate"
                required
              />
              <div
                class="validation_popup"
                *ngIf="
                  (!myReactiveForm.get('qualificationstate').valid &&
                    myReactiveForm.get('qualificationstate').touched) ||
                  (submitted &&
                    myReactiveForm.get('qualificationstate').invalid)
                "
              >
                Invalid
              </div>
            </div>
          </td>
        </tr>
      </table>
    </div>

    <div class="form_container">
      <h3>Certificates and professional registrations</h3>
      <table class="borderred_table" border="1">
        <tr>
          <th style="width: 20%">Membership(Abbreivation)</th>
          <th style="width: 40%" align="left">
            Organisation Membership(Full title)
          </th>
          <th style="width: 20%" align="left">Membership Date</th>
        </tr>

        <tr>
          <td>
            <div class="input_box">
              <input type="text" formControlName="Membership" required />
              <div
                class="validation_popup"
                *ngIf="
                  (!myReactiveForm.get('Membership').valid &&
                    myReactiveForm.get('Membership').touched) ||
                  (submitted && myReactiveForm.get('Membership').invalid)
                "
              >
                Please enter valid data
              </div>
            </div>
          </td>

          <td>
            <div class="input_box">
              <input type="text" formControlName="OrgMembership" required />
              <div
                class="validation_popup"
                *ngIf="
                  (!myReactiveForm.get('OrgMembership').valid &&
                    myReactiveForm.get('OrgMembership').touched) ||
                  (submitted && myReactiveForm.get('OrgMembership').invalid)
                "
              >
                Please enter valid data
              </div>
            </div>
          </td>
          <td>
            <div class="input_box">
              <input
                type="text"
                onfocus="this.type='date'"
                required
                formControlName="membershipdate"
              />
              <label for="" class="date-label">Membership Date </label>
              <div
                class="validation_popup"
                *ngIf="
                  (!myReactiveForm.get('membershipdate').valid &&
                    myReactiveForm.get('membershipdate').touched) ||
                  (submitted && myReactiveForm.get('membershipdate').invalid)
                "
              >
                Please enter valid date
              </div>
            </div>
          </td>
        </tr>
      </table>
    </div>

    <div class="form_container">
      <h3>Honours and Awards</h3>
      <table class="borderred_table" border="1">
        <tr>
          <th style="width: 18%">Honours (Abbreivation)</th>
          <th align="left">HONOUR OR AWARD (FULL TITLE)</th>
          <th align="left">GRANTOR</th>
          <th align="left">YEAR RECEIVED</th>
        </tr>

        <tr>
          <td>
            <div class="input_box">
              <input type="text" formControlName="honour" required />
              <div
                class="validation_popup"
                *ngIf="
                  (!myReactiveForm.get('honour').valid &&
                    myReactiveForm.get('honour').touched) ||
                  (submitted && myReactiveForm.get('honour').invalid)
                "
              >
                Please enter valid data
              </div>
            </div>
          </td>
          <td>
            <div class="input_box">
              <input type="text" formControlName="honouraward" required />
              <div
                class="validation_popup"
                *ngIf="
                  (!myReactiveForm.get('honouraward').valid &&
                    myReactiveForm.get('honouraward').touched) ||
                  (submitted && myReactiveForm.get('honouraward').invalid)
                "
              >
                Please enter valid data
              </div>
            </div>
          </td>
          <td>
            <div class="input_box">
              <input type="text" formControlName="grantor" required />
              <div
                class="validation_popup"
                *ngIf="
                  (!myReactiveForm.get('grantor').valid &&
                    myReactiveForm.get('grantor').touched) ||
                  (submitted && myReactiveForm.get('grantor').invalid)
                "
              >
                Please enter valid data
              </div>
            </div>
          </td>
          <td>
            <div class="input_box">
              <input type="text" formControlName="yearReceived" required />
              <div
                class="validation_popup"
                *ngIf="
                  (!myReactiveForm.get('yearReceived').valid &&
                    myReactiveForm.get('yearReceived').touched) ||
                  (submitted && myReactiveForm.get('yearReceived').invalid)
                "
              >
                Please enter valid year
              </div>
            </div>
          </td>
        </tr>
      </table>
    </div>

    <div class="form_container">
      <h3>EQUITY AND DIVERSITY INFORMATION-CONFIDENTIAL</h3>
      <table class="borderless_table">
        <tr>
          <td>
            <div class="input_box">
              <select class="select" name="" id="" formControlName="gender">
                <option value="">Select a Gender</option>
                <option
                  *ngFor="let gender of genderList"
                  [ngValue]="gender"
                  (change)="changeGender($event)"
                >
                  {{ gender }}
                </option>
              </select>
              <label for="" class="date-label">
                Gender <span style="color: red">*</span>
              </label>
              <div
                class="validation_popup"
                *ngIf="
                  (myReactiveForm.get('gender').invalid &&
                    myReactiveForm.get('gender').touched) ||
                  (submitted && myReactiveForm.get('gender').invalid)
                "
              >
                Please enter a valid Gender
              </div>
            </div>
          </td>

          <td style="padding-left: 2rem">
            <!-- <div class="input_box"> -->
            Do you live with effects of an injury?
            <input
              type="radio"
              name="isInjured"
              value="true"
              formControlName="isInjured"
              (click)="isInjuredFcn($event)"
            />Yes
            <input
              (click)="isInjuredFcn($event)"
              type="radio"
              name="isInjured"
              value="false"
              checked
            />No
            <!-- </div> -->
          </td>

          <td>
            <div class="input_box">
              <input type="text" formControlName="injuryDetails" required />
              <label for=""> if yes please specify </label>
            </div>
          </td>
        </tr>

        <tr>
          <td>
            <!-- <div class="input_box"> -->
            Do you live with effects of an illness?
            <input
              type="radio"
              name="isIll"
              value="true"
              formControlName="isIll"
              (click)="isIllFcn($event)"
            />Yes <input type="radio" name="isIll" value="false" checked />No
            <!-- </div> -->
          </td>

          <td>
            <div class="input_box">
              <input type="text" formControlName="illnessDetails" required />
              <label for=""> if yes please specify </label>
              <!-- <div
                class="validation_popup"
                *ngIf="
                  (!myReactiveForm.get('illnessDetails')?.valid &&
                    myReactiveForm.get('illnessDetails').touched) ||
                  (submitted && myReactiveForm.get('illnessDetails').invalid)
                "
              >
                Please enter valid input
              </div> -->
            </div>
          </td>

          <td style="padding-left: 2rem">
            <!-- <div class="input_box"> -->
            Do you live with effects of a disability?
            <input
              type="radio"
              name="isDisabled"
              value="true"
              formControlName="isDisabled"
              (click)="isDisabledFcn($event)"
            />Yes
            <input type="radio" name="isDisabled" value="false" checked />No
            <!-- </div> -->
          </td>
        </tr>

        <tr>
          <td>
            <div class="input_box">
              <input type="text" formControlName="disabilityDetails" required />
              <label for=""> if yes please specify </label>
              <!-- <div
                class="validation_popup"
                *ngIf="
                  (!myReactiveForm.get('disabilityDetails')?.valid &&
                    myReactiveForm.get('disabilityDetails').touched) ||
                  (submitted && myReactiveForm.get('disabilityDetails').invalid)
                "
              >
                Please enter valid input
              </div> -->
            </div>
          </td>
        </tr>

        <tr>
          <td colspan="3">
            <div class="input_box">
              <input type="text" formControlName="Healthinfo" required />
              <label for="">
                Please provide any health information the Company should aware
                of in the event of emergency e.g. allery to any medicines
              </label>
              <!-- <div
                class="validation_popup"
                *ngIf="
                  (!myReactiveForm.get('Healthinfo')?.valid &&
                    myReactiveForm.get('Healthinfo').touched) ||
                  (submitted && myReactiveForm.get('Healthinfo').invalid)
                "
              >
                Please enter valid input
              </div> -->
            </div>
          </td>
        </tr>

        <tr>
          <td>
            <div class="input_box">
              <input type="text" formControlName="BloodGrp" required />
              <label for=""> Blood Group </label>
              <div
                class="validation_popup"
                *ngIf="
                  (!myReactiveForm.get('BloodGrp')?.valid &&
                    myReactiveForm.get('BloodGrp').touched) ||
                  (submitted && myReactiveForm.get('BloodGrp').invalid)
                "
              >
                Please enter valid input
              </div>
            </div>
          </td>

          <td style="padding-left: 2rem">
            Medical Alert &nbsp;
            <input
              type="radio"
              name="isMedicalAlert"
              value="true"
              formControlName="isMedicalAlert"
              (click)="isMedicalAlertFcn($event)"
            />Yes
            <input type="radio" name="isMedicalAlert" value="false" checked />No
          </td>
        </tr>
      </table>
    </div>

    <div class="form_container">
      <h3>Previous Employment Details</h3>
      <table class="borderred_table" border="1">
        <tr>
          <th style="width: 15%">Company Name</th>
          <th align="left">From (year)</th>
          <th align="left">to (year)</th>
          <th align="left">Location</th>
          <th align="left">Designation</th>
        </tr>

        <tr>
          <td>
            <div class="input_box">
              <input type="text" required formControlName="companyname" />
              <div
                class="validation_popup"
                *ngIf="
                  (myReactiveForm.get('companyname').invalid &&
                    myReactiveForm.get('companyname').touched) ||
                  (submitted && myReactiveForm.get('companyname').invalid)
                "
              >
                Invalid Company Name
              </div>
            </div>
          </td>
          <td>
            <div class="input_box">
              <input formControlName="fromyr" type="text" />
              <div
                class="validation_popup"
                *ngIf="
                  (myReactiveForm.get('fromyr').invalid &&
                    myReactiveForm.get('fromyr').touched) ||
                  (submitted && myReactiveForm.get('fromyr').invalid)
                "
              >
                Valid Date Required
              </div>
            </div>
          </td>
          <td>
            <div class="input_box">
              <input formControlName="toyr" type="text" />
              <div
                class="validation_popup"
                *ngIf="
                  (myReactiveForm.get('toyr').invalid &&
                    myReactiveForm.get('toyr').touched) ||
                  (submitted && myReactiveForm.get('toyr').invalid)
                "
              >
                Valid Date Required
              </div>
            </div>
          </td>
          <td>
            <div class="input_box">
              <input formControlName="location" type="text" />
              <div
                class="validation_popup"
                *ngIf="
                  (myReactiveForm.get('location').invalid &&
                    myReactiveForm.get('location').touched) ||
                  (submitted && myReactiveForm.get('location').invalid)
                "
              >
                Valid Location Required
              </div>
            </div>
          </td>
          <td>
            <div class="input_box">
              <input formControlName="designation" type="text" />
              <div
                class="validation_popup"
                *ngIf="
                  (myReactiveForm.get('designation').invalid &&
                    myReactiveForm.get('designation').touched) ||
                  (submitted && myReactiveForm.get('designation').invalid)
                "
              >
                Valid Designation Required
              </div>
            </div>
          </td>
        </tr>
      </table>
    </div>

    <div class="checkbox_container">
      <h3>Declaration and consent</h3>
      <p class="checkbox-one">
        <input
          type="checkbox"
          name=""
          id=""
          formControlName="declarationCheckboxOne"
        />
        I declare that to the best of my knowledge all the information I have
        provided is true and is in all respects correct. I understand that if
        any false information is given or any material fact suppressed
        disciplinary action- including dismissal maybe undertaken.
      </p>
      <div
        class="validation_popup_checkbox"
        *ngIf="
          submitted &&
          myReactiveForm.get('declarationCheckboxOne').value == false
        "
      >
        Checkbox required
      </div>

      <p class="checkbox-second">
        <input
          type="checkbox"
          name=""
          id=""
          formControlName="declarationCheckboxSecond"
        />
        I acknowledge that the information I have applied on this form, and that
        the company gathers about me during the course of my employment with the
        company, will be retained by the company for the purpose of considering
        and evaluating my application for employment for any future
        applications.
      </p>
      <div
        class="validation_popup_checkbox"
        *ngIf="
          submitted &&
          myReactiveForm.get('declarationCheckboxSecond').value == false
        "
      >
        Checkbox required
      </div>
    </div>

    <div class="checkbox_container">
      <h3>Qualifications/ Certificates/ Professional resignations:</h3>
      <p class="checkbox-one">
        <input
          type="checkbox"
          name=""
          id=""
          formControlName="beingQualifiedCheckbox"
        />
        I authorised Jocata to consent the body Institution(s) stated herein,
        and I further authorise a designated Office of the institution to
        provide evidence to Jocata that I qualified for and was awarded the
        qualification / certificate / professional resignation as stated. The
        authority shall remain
      </p>
      <div
        class="validation_popup_checkbox"
        *ngIf="
          submitted &&
          myReactiveForm.get('beingQualifiedCheckbox').value == false
        "
      >
        Checkbox required
      </div>
    </div>

    <div class="checkbox_container">
      <h3>Other</h3>
      <p class="checkbox-one">
        <input
          type="checkbox"
          name=""
          id=""
          formControlName="otherConsentCheckbox"
        />
        I give consent for the company to verify validate my work eligibility.
        In addition I gave consent to on-going Health and General checks and
        monitoring if required for the role.
      </p>
      <div
        class="validation_popup_checkbox"
        *ngIf="
          submitted && myReactiveForm.get('otherConsentCheckbox').value == false
        "
      >
        Checkbox required
      </div>
    </div>

    <div class="button-container">
      <button style="margin-right: 1rem" class="outline-btn">Exit</button>

      <!-- (click)="onSubmit()" -->
      <div class="right-buttons">
        <button
          (click)="onSubmit()"
          type="submit"
          style="margin-right: 1rem"
          class="filled-btn"
        >
          Save
        </button>
        <!-- <button class="filled-btn" onclick="onSubmit()">Save & Continue</button> -->
      </div>
    </div>
  </form>
</div>
